$text-color: white;
$color-blue: #5B92D0;
$color-green: #33B18A;
$color-orange: #fab700;
$color-dark:#0b090a;

$navbar1-color: #2d2b2c;
$background-color: #e5e5e5;

$xl: 87.5em; 
$l: 60em; 
$m: 40em; 
$s: 28em; 
$xs: 20em; 
