/* source-sans-pro-regular - latin */
@import "./_grid";
@import "./_buttons";
@import "./_forms";

@font-face {
    font-family: 'Source Sans Pro';

    src: url('./assets/fonts/source-sans-pro-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./assets/fonts/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./assets/fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./assets/fonts/source-sans-pro-v14-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./assets/fonts/source-sans-pro-v14-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./assets/fonts/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
*{
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    background-color: $background-color;
    font-family: 'Source Sans Pro';
    min-height: 100vh;
    color: white;
}

.body-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    padding-top: 55px;
}

.board-container {
    flex-grow: 1;
    padding: 20px;
}

button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset,
.tox-tinymce {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}


$mq_xl: "(min-width: 768px) and (max-width: 1023px)";
$mq_l: "(min-width: 1024px)";
$mq_m: "(min-width: 1024px)";
$mq_s: "(min-width: 1024px)";
$mq_xs: "(min-width: 1024px)";