@import "../../_variables";

.box {
    position: fixed;
    height: 100vh;
    z-index: 0;
    width: 100vw;
    background-color: #fca311;
    top: 0;
    left: 0;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    

}