﻿@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace IdentityServer.Pages

<html>
<head>
    <base href="~/" />
</head>
<body>
    <component type="typeof(App)"
               render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>