@import "../../variables";

:root {
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #fab700;

    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);

    --size-bezel: .5rem;
    --size-radius: 4px;

    //line-height: 1.4;

    //font-family: 'Inter', sans-serif;
    //font-size: calc(.6rem + .4vw);
    //color: var(--color-text);
    //background: var(--color-background);
    //font-weight: 300;
    //padding: 0 calc(var(--size-bezel) * 3);
}

.input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid $color-dark;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: $color-dark;
    background: $background-color;
    border-radius: var(--size-radius);
}
input{
    width:100%;
}
.input-label{
    display: block;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
}
.button-yellow{
    background-color:$color-orange;
}