@import "../../variables";

.nav-sidebar {
    //backgroundborder-right: solid 1px $blue-color;
    //border-top: solid 1px $green-color;
    height: calc(100vh - 55px);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    background-color: $color-dark;
    border-top: 4px solid $color-blue;
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    transition: border-radius 1s ease-out, width 1s ease-out;
    flex-shrink: 0;
    position: sticky;
    overflow: hidden;
    width: 60px;
    border-radius: 0px;

    top: 55px;
    align-content: space-between;

    .icon {
        //color: $green-color;
        color: white;
        width: 31px;
        height: 31px;
        padding: 3px;
        border-radius: 7px;
        display: inline-block;
        //box-shadow: 0px 4px 7px -1px rgba(66, 68, 90, 1);
        vertical-align: middle;
        //margin: 0px 5px 0px 5px;
        flex-shrink: 0;
        //color: $green-color
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {

            a,
            span {
                color: $text-color;
                height: 44px;
                padding: 8px 15px;
                display: flex;
                text-decoration: none;
                align-items: center;

                .arrow {
                    margin-left: auto;
                }

                span {
                    //display: none;
                }
            }

            a:hover {
                //background-color:$green-color;
            }

            ul {
                border-left: 4px solid $color-blue;
                //background-color: #e3e2dd;
                margin-right: 5px;
                border-top-right-radius: 10px;
                box-sizing: border-box;

                //margin: 8px 16px 8px 24px;;
                li a {
                    //    padding:4px 0px;
                    padding: 8px 15px 8px 11px;

                }

                .icon {
                    //background-color: #f4f3ee;


                }
            }
        }

    }
}

.active {
    margin-left: 0px;
    width: 200px;

    //border-top-right-radius: 30px;
    ul {
        li {
            a {
                span {
                    //display: inline-block;
                }
            }
        }
    }

}

.hidden-level {
    height: 0px;
    overflow: hidden;
}

.footer {
    margin-top: auto;
    padding: 20px 10px;
    text-align: center;
}

.active {
    .footer {
        
        padding: 20px;
        

    }
}

.heart {
    color: #d62828;
}