@import "../../_table";
@import "../../_variables";
table *{
    position: relative;
    
}
table{
    border-collapse: collapse;
    border-radius: 10px;
    background: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    th,td{
        //padding: 5px 10px;
    }
}
table thead tr {
    height: 50px;
    background: $color-dark;
    box-sizing: border-box;

}
tbody tr:nth-child(2n) {
    background-color: #f5f5f5;
}
tbody tr{
    height: 50px;
    color:$color-dark;
}
