@import "../../variables";
.nav-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //padding: 8px;
    position: fixed;
    top:0;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
    background-color: $color-dark;
    height: 55px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .menu-button {
        width: 60px;
        height: 60px;
        padding:15px 15px 15px 15px;
        //margin-bottom: 4px;;
        color: white;
        //background-color: $blue-color;
        border-top-right-radius: 30px;
        border-top-right-radius: 30px;
    }
    .search-bar{
        color:white;
        width:220px;
        height: 41px;
        border-radius: 20px;
        background-color: $navbar1-color;
        padding: 8px 10px;
    }
    ul {
        list-style-type: none;

        li {
            display: inline-block;
            a {
                text-decoration: none;
                display: inline-block;
            }
        }
    }
}